<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Address Book Application</title>
    <meta http-equiv="Content-Type" content="text/html;" />
</head>
<body>
    <h1>Current Address Books in the system</h1>
    <ul id="addressBookList">
        <li th:each="ab, iterBook: ${books}" th:id="item_ + ${ab.id}">
            <h2>[[${ab.bookName}]]</h2>
            <ul th:id="${ab.id} + _buddyList">
                <li th:each="bud, iterBud : ${ab.buddyList}">
                    <p>Buddy# [[${iterBud.index}]]</p>
                    <p>Name: [[${bud.name}]] - Phone Number: [[${bud.phoneNumber}]]</p>
                </li>
            </ul>
        </li>
    </ul>
    <br>
    <h1>Create a new Address Book</h1>
    <form id="bookForm" action="#" th:action="@{/addressbook}"  method="post">
        <p>Address book name: <input type="text" name="bookName"/></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    <br>
    <h1>Add new buddy to an Address Book</h1>
    <form id="buddyForm" action="#" th:action="@{/buddyinfo}"  method="post">
        <div id="bookRadioButtons">
            <label th:each="ab, iterBook: ${books}">[[${ab.bookName}]] <input  type="radio" th:value="${ab.id}" name="bookId"><br></label>
        </div>
        <p>Name: <input type="text" name="name"/></p>
        <p>Phone number: <input type="text" name="phoneNumber"/></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    <div id="formLinks">
        <a href="/buddyinfoform">Add buddy to existing Address Book</a>
        <br>
        <a href="/addressbookform">Create new Address Book</a>
    </div>
    <script type="text/javascript"
            src=" http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js">
    </script>
    <script type="text/javascript"
            src="spa.js">
    </script>
</body>
</html>